body {
  display: flex;
  justify-content: center;
  font-family: "Arial", sans-serif;
  color: #333333;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
}

.a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 1000px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.navigation {
  width: 1000px;
  padding: 20px 0px;
  background: #ffb800;
  background-repeat: no-repeat;
}

.navigation a {
  margin-left: 50px;
  text-decoration: none;
  color: #000000;
}

.color menu {
  font-weight: 0;
  color: #000000;
  text-decoration: none;
}

.source {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  max-height: 40px;
}

.source img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  transform: rotate(-90deg);
}

.profile-text {
  background-color: #ffb800;
  width: 400px;
  height: 400px;
  padding: 50px;
  text-align: justify;
  min-width: 400px;
  max-height: 400px;
}
