body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Arial", sans-serif;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
}

/* a {
  text-decoration: none;
} */

.container {
  display: flex;
  width: 1000px;
  flex-direction: column;
  align-items: center;
}

.navigation {
  width: 1000px;
  padding: 20px 0px;
  background: #ffb800;
  background-repeat: no-repeat;
}

.navigation a {
  display: block
  color: #000000
  padding: 10px, 10px
}

.menu{
  width: 30px
  coloir
}

.source {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.source img {
  width: 500px;
  height: 450px;
}

.profile-text {
  background-color: #ffb800;
  width: 400px;
  height: 400px;
  padding: 50px;
  text-align: justify;
  min-width: 350px;
  max-height: 350px;
}
