body {
  display: flex;
  justify-content: center;
  font-family: "Arial", sans-serif;
  color: #333333;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
}

.a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 1000px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.navigation {
  width: 1000px;
  padding: 20px 0px;
  background: #ffb800;
  background-repeat: no-repeat;
}

.navigation a {
  margin-left: 50px;
}

.color menu {
  font-weight: 0;
  color: #000000;
  text-decoration: none;
}

.head-name {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 1000px;
}

.content-resume {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}

.list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 610px;
}

.list a {
  padding: 10px;
  white-space: nowrap;
}

.list2 {
  display: flex;
  flex-direction: column;
}
